@model IEnumerable<WmTestProject.Application.Dto.ProductDto>

<div class="row">
    <div class="col-6">
        <h4>Sort</h4>
        <form class="form-inline mb-3" asp-action="Index">
            <select class="form-control" name="order">
                <option value="0">Name Ascending</option>
                <option value="1">Name Descending</option>
            </select>
            <button class="btn btn-secondary">Sort</button>
        </form>
    </div>
    <div class="col-6">
        <h4>Search</h4>
        <form class="form-inline mb-3" asp-action="Index">
            <label class="sr-only">Search</label>
            <input type="text" name="name" class="form-control" />
            <button class="btn btn-secondary">Search</button>
        </form>
    </div>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                Id
            </th>
            <th>
                Name
            </th>
            <th>
                Description
            </th>
            <th>
                Price
            </th>
            <th>
                Category
            </th>
            <th>
                Manufacturer
            </th>
            <th>
                Supplier
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @item.Id
            </td>
            <td>
                @item.Name
            </td>
            <td>
                @item.Description
            </td>
            <td>
                @item.Price
            </td>
            <td>
                @item.Category
            </td>
            <td>
                @item.Manufacturer
            </td>
            <td>
                @item.Supplier
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
